.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;

  .cardWrapper {
    color: #5e626f;
    font-size: 13px;

    .title {
      color: #343741;
      font-size: 12px;
    }
  }
}
